extends ../../layouts/default.pug
include ../../mixins/select-tree.pug

block main
    h1(class="mb-4") Add products

    form(
      action=`${prefixAdmin}/products/create`
      id="form-create-product"
      method="POST"
      enctype="multipart/form-data"
    )
    div(class="form-group")
        lable(for="title")  Title
        input(
            type="text"
            class="form-control"
            id="title"
            name="title"
            required
        )

    div(class="form-group mb-3")
        lable(for="product_category_id")  Categories
        select(
        name="product_category_id"
        id="product_category_id"
        class="form-control"
        )
            option(value="") -- Select --
            if(category)
                +select-tree(category)

    div(class="form-group mt-3")
        lable(for="desc")  Description
        textarea(
        class="form-control textarea-mce"
        id="desc"
        name="description"
        row="5"
        )
    div(class="form-group")
        lable(for="price")  Price
        input(
        type="number"
        class="form-control"
        id="price"
        name="price"
        value="0"
        min="0"
        )
    div(class="form-group")
        lable(for="discount")  % Discount
        input(
        type="number"
        class="form-control"
        id="discount"
        name="discountPercentage"
        value="0"
        min="0"
        )
    div(class="form-group")
        lable(for="stock")  Total
        input(
        type="number"
        class="form-control"
        id="stock"
        name="stock"
        value="0"
        min="0"
        )

    div(
        class="form-group" 
        upload-image
      )
        lable(for="thumbnail")  Thumbnail
        <br>
            input(
            type="file"
            class="form-control-file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            upload-image-input
            )
            img(
            src=""
            upload-image-preview
            class="image-preview"
            )

    div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Add

    script(src="/admin/js/product.js")