extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
include ../../mixins/alert.pug

block main
    +alert-success("5000")
    +alert-error("5000")
    h1(class="mb-4") Edit Products
    form(
      action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
      id="form-edit-product"
      method="POST"
      enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="title") Title
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                value=product.title
                required
            )

        div(class="form-group mb-3")
            label(for="product_category_id") Categories
            select(
                name="category"
                id="product_category_id"
                class="form-control"
            )
                option(value="") -- Select --
                if(category)

        div(class="form-group mt-3")
            label(for="desc") Description
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
                required
            ) #{product.description}

        div(class="form-group")
            label(for="price") Price
            input(
                type="number"
                step="0.01"
                class="form-control"
                id="price"
                name="price"
                value=product.price
                min="0"
                required
            )

        div(class="form-group")
            label(for="discount") % Discount
            input(
                type="number"
                step="0.01"
                class="form-control"
                id="discount"
                name="discountPercentage"
                value=product.discountPercentage
                min="0"
                max="100"
                required
            )

        div(class="form-group")
            label(for="stock") Total
            input(
                type="number"
                class="form-control"
                id="stock"
                name="stock"
                value=product.stock
                min="0"
                required
            )

        div(class="form-group")
            label(for="stock") Position
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeholder="Auto"
                value=product.position
                min="1"
            )

        div(class="form-group" upload-image)
            label(for="thumbnail") Thumbnails
            <br>
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    multiple
                    upload-image-input
                )
                img(
                    src=""
                    upload-image-preview
                    class="image-preview"
                )

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Edit
