extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
include ../../mixins/alert.pug
include ../../mixins/search.pug

block main
    +alert-error("5000")
    h1(class="mb-4") Add category
    form(
      action=`${prefixAdmin}/product-category/create`
      id="form-create-category"
      method="POST"
    )
        div(class="form-group")
            label(for="title") Title
            input(
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
            )
        div(class="form-group")
            label(for="title") Parent Id
            select(name="parent_id" id="parent_id" class="form-control") 
                option(value="") -- Select --
                if(category)
                    each item in category 
                        option(value=item.id) #{item.title}  

        div(class="form-group mt-3")
            label(for="desc") Description
            textarea(
                class="form-control textarea-mce"
                id="desc"
                name="description"
                rows="5"
                novalidate
                required
            )

        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Add
