extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3

    include ../../partials/list-btn-users.pug

    .row
      .col-12
        +box-head("Chat")

    .row
      .col-12
        .chat(my-id=user.id)
          .inner-body
            each chat in chats
              div(
                class=(chat.userId == user.id ? "inner-outgoing" : "inner-incoming")
              )
                if(chat.userId != user.id)
                  .inner-name #{chat.fullName}
                if(chat.content)
                  .inner-content
                    | #{chat.content}
                if(chat.images)
                  .inner-images
                    each image in chat.images
                      img(src=image)
            div(class="inner-list-typing")
          .inner-preview-images
            div(class="custom-file-container" data-upload-id="upload-images")
          .inner-foot
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              span(
                button-icon
                class="btn btn-sm btn-light mx-1"
              ) <i class="fa-regular fa-face-smile"></i>
              label(
                for="file-upload-with-preview-upload-images"
                class="btn btn-sm btn-light mr-1 mb-0"
              ) <i class="fa-regular fa-image"></i>
              button
                i.fa-solid.fa-paper-plane

  div(class="tooltip" role="tooltip")
    emoji-picker(class="light")