mixin product-list(products)
    each item in products
                .pro 
                    img(src=item.thumbnail[0], alt=item.thumbnail[0])
                    .des
                        span #{item.category} 
                        h5 #{item.title} 
                        .discount
                            p 
                                s $#{item.price}
                        h4 $#{item.newPrice}
                    a(href="") 
                        i.fa-solid.fa-cart-shopping.cart